
h1.jumbo {
    color: aquamarine;
    background-color: black;
    font-size: large;
    font-style: italic;
}

th {
    color:brown

}
table, th, td {
    border: 1px solid;
    width: 300px;
}