
h1.jumbo {
    color: aquamarine;
    background-color: black;
    font-size: large;
    font-style: italic;
}

table {
    text-align: center;
    border: 10px solid black;
    border-collapse: collapse; 
    width: 100%;
    padding: 10px;
    background-color: yellowgreen;
    
  }
  
  td, th {
    border: 1px solid black;
    color:rgb(73, 0, 0)

    
  }

  